body {
    font-family: Arial;
    background-color: rgb(112, 197, 250);
}

.magisterfoto {
    position: absolute; left: 230px; top: 5px; width: 50px;
}

.textdiv {
    background-color: rgb(0, 174, 255);
    width: 300px;
    position: relative;
    border-style: solid;
    border-radius: 20px;
    font-size: large;
}

.terugknop {
    background-color: rgb(0, 174, 255);
    color: black !important;
    border-style: none;
    font-weight: bold;
    position: absolute;
    width: 120px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    border-radius: 20px;
    text-decoration: none !important;
    position: absolute;
}

.terugknop:hover {
    background-color: rgb(0, 134, 196);
    cursor: pointer;
}

.titleding {
    font-family: sans;
}

.div1 {
    position: absolute;
    right: 175px;
    top: 50px;
}

.transition {
    background-color: lightskyblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: height ease-in-out 1.5s;
}

.spinner {
    top: -25%;
    width: 150px;
    height: 150px;
    position: relative;
    border: 12.5px solid;
    border-radius: 100px;
    border-color: white;
    border-bottom-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
}

.spinnercontainer {
    width: 100%;
    height: 200px;
    top: 50%;
    align-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    transition: top 3.4s;
}

.transimg {
    position: absolute;
    height: 200px;
    z-index: 2;
    top: -125%;
    left: 50%;
    transform: translate(-45%);
}