.baseText
{
    font-size: larger;
    color: yellowgreen;
}

.vakken
{
    color: aliceblue;
}

.background
{
    background-image: url(images/code.png);
    background-size: cover;
}

.transitionTab
{
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: height 2s;
}
.sidebar
{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.452);
    width:230px;
    height:100%;
    right:0px;
    top:0px;
}