body {
    font-family: Arial;
    background-color: lightskyblue;
}

.magisterfoto {
    position: absolute; left: 230px; top: 5px; width: 50px;
}

.textdiv {
    background-color: rgb(0, 174, 255);
    width: 300px;
    position: relative;
    border-style: solid;
    border-radius: 20px;
    font-size: large;
}

.terugknop {
    background-color: rgb(0, 174, 255);
    color: black !important;
    border-style: none;
    font-weight: bold;
    position: absolute;
    width: 120px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    border-radius: 20px;
    text-decoration: none !important;
    position: absolute;
}

.terugknop:hover {
    background-color: rgb(0, 134, 196);
    cursor: pointer;
}

.titleding {
    font-family: sans;
}

.div1 {
    position: absolute;
    right: 175px;
    top: 50px;
}