body {
    font-family: Arial;
    background-color: rgb(112, 197, 250);
}

.magisterfoto {
    position: absolute; left: 230px; top: 5px; width: 50px;
}

.textdiv {
    background-color: rgb(0, 174, 255);
    width: 300px;
    padding: 10px;
    position: relative;
    border-style: solid;
    border-radius: 20px;
    font-size: large;
}

.terugknop {
    background-color: rgb(0, 174, 255);
    border: solid 2px black !important;
    color: black !important;
    border-style: none;
    font-weight: bold;
    position: absolute;
    width: 120px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    border-radius: 20px;
    text-decoration: none !important;
    position: absolute;
}

.terugknop:hover {
    background-color: rgb(0, 134, 196);
    cursor: pointer;
}

.titleding {
    font-family: sans;
}

.div1 {
    position: absolute;
    right: 175px;
    top: 50px;
}

.transition {
    background-color: lightskyblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: height ease-in-out 1s;
}

.spinner {
    top: -25%;
    width: 150px;
    height: 150px;
    position: relative;
    border: 12.5px solid;
    border-radius: 100px;
    border-color: white;
    border-bottom-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
}

.spinnercontainer {
    width: 100%;
    height: 200px;
    top: 50%;
    align-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    transition: top ease-in 1s;
}

.transimg {
    position: absolute;
    height: 200px;
    z-index: 2;
    top: -125%;
    left: 50%;
    transform: translate(-45%);
}

.table1, td, th{
    border: solid 2px rgb(0, 86, 139);
}

.transbox {
    position: fixed;
    left: 0; top: 150%;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    pointer-events: none;
    transform: translateY(-50%);
    transition: cubic-bezier(.4,-0.01,.23,.99) top 1s;
}

.transimg2 {
    width: 300px;
    position: absolute;
    transition: ease width 1s, ease top 1s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}