body {
    background-color: lightgreen;
}

.terugknop {
    background-color: rgb(65, 207, 65);
    border: solid 2px black !important;
    color: black !important;
    border-style: none;
    font-weight: bold;
    position: absolute;
    width: 120px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    border-radius: 20px;
    text-decoration: none !important;
    position: absolute;
}

.terugknop:hover {
    background-color: rgb(50, 179, 50);
    cursor: pointer;
}

.text1 {
    color: rgb(0, 107, 0);
    font-family: Verdana;
}

.div1 {
    background-color: black;
    width: 275px;
}

.foto1 {
    width: 275px;
}

.text2 {
    color: white; font-family: Verdana;
}

.div2 {
    position: absolute; right: 175px; top: 50px;
}

.transition {
    background-color: lightskyblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    transition: height ease-in-out 1.5s;
}

.transition-button {
    z-index: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.spinner {
    top: -25%;
    width: 150px;
    height: 150px;
    position: relative;
    border: 12.5px solid;
    border-radius: 100px;
    border-color: white;
    border-bottom-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
}

.spinnercontainer {
    width: 100%;
    height: 200px;
    top: -100%;
    align-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    transition: top ease-out 1.75s;
}

.transimg {
    position: absolute;
    height: 200px;
    z-index: 2;
    top: -125%;
    left: 50%;
    transform: translate(-45%);
}